/**
 * SocialCalc/webapp/assets/css/base.css
 * Holds details about classes and ids describing dimensions of an HTML tag
 */
#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 900px;
}
#content {padding:15px;}
#mainTable {display:table-row;}

.left {float: left;}
.right {float: right;}
.middle {padding-top:10px;}

.columns {border: none; display: table-cell; vertical-align: top;}
#c1 {min-width: 210px; padding: 5px;width: 210px;}
#c2 {padding: 20px; width: auto;}
#c3 {min-width: 210px; padding: 5px; width: 210px;}

#headerBar{padding-bottom:100px;}
#footerBar{width:900px;}

.middle_column {margin:auto; width:360px;}
.left_panel {width: 210px;}

/* Calendar/Events related classes/ids */
.date {font-size:8pt; height:20px;}
.field {padding-top:5px; width:auto;}
.has_event button {margin:-10px; width:30px;}
.today_event button {margin:-10px; width:30px;}

#chat_list {
    border-bottom: 1px solid gray;
    margin-left: 0;
    max-height:300px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 0px;
    width: 200px;
}
#chat_list li {border-top: 1px solid gray; margin: 0; padding: 0.25em;}

/* Notifications */
#notifications-bar .title {padding:5px;}
#notifications-bar {margin:15px auto; padding:5px 5px 0; width:210px;}