/**
 * SocialCalc/webapp/assets/style.css
 * Holds css classes and ids describing styling of various HTML elements
 */
html {background: #E6E6E6;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
img {border:none;}
a, a:link, a:visited {text-decoration: none;color: #416A93;outline: none; border:none;}
a:hover {text-decoration : none;color : red;}

/* Rounded Rectangles */
.bl {background: url(../img/bl.gif) 0 100% no-repeat white;}
.br {background: url(../img/br.gif) 100% 100% no-repeat} 
.tl {background: url(../img/tl.gif) 0 0 no-repeat} 
.tr {background: url(../img/tr.gif) 100% 0 no-repeat;} 

/* Text alignments */
.text_right{text-align:right;}
.text_center{text-align:center;}

/* Text colors */
.gray {color:#7b7b7b;}

/* Text sizes */
.small{font-size:0.75em;}
.bigger {font-size:.9em;}

/* Calendar */
#eventsTable h3 {font-size:.8em;}
#eventsTable p {font-size:.8em;}
#addEvent {font-size:.7em; font-family: Verdana;}
#showEventForm button {font-size:.7em; color: black; background-color:}
.calendar_head {background-color:#000000; color:white}
.calendar_title {font-weight:bold; text-align:center;}
.date {font-family: Verdana; padding-left:7px;}
.weekend{color:#7e7e7e;}
.normal_date {color: #000000;}
.today_event {}
.today_event button {color: #000000; background-color: #CACACA;}
.today {color: #000000; background-color: #CACACA;}
.selected_date {color: #FFFFFF; background-color: #C00000;}
.has_event button {color: #000000; background-color: #C6D1DC;}
.hint {color:#7e7e7e}

.successmsg {
  background-color: #BFDFBF;
  margin: 10px 0px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.errormsg {
  background-color: #ff9494;
  margin: 10px 0px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.ui_state_highlight p a {color:#416A93;}
.ui_state_error p a {color:#416A93;}
