/**
 * SocialCalc/webapp/assets/style.css
 * Holds css classes and ids describing styling of various HTML elements
 */
html {background: #E6E6E6;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
img {border:none;}
a, a:link, a:visited {border:none; outline: none; color: #416A93; text-decoration: none;}
a:hover {color : red; text-decoration : none;}
.pointer {cursor:pointer;}

/* Rounded Rectangles */
.bl {background: url(../img/bl.gif) 0 100% no-repeat white;}
.br {background: url(../img/br.gif) 100% 100% no-repeat} 
.tl {background: url(../img/tl.gif) 0 0 no-repeat} 
.tr {background: url(../img/tr.gif) 100% 0 no-repeat;} 

/* Text alignments */
.text_right{text-align:right;}
.text_center{text-align:center;}

/* Text colors */
.gray {color:#7b7b7b;}

/* Text sizes */
.small{font-size:0.75em;}
.bigger {font-size:.9em;}

/* Calendar */
#eventsTable h3 {font-size:.8em;}
#eventsTable p {font-size:.8em;}
#addEvent {font-family: Verdana; font-size:.7em;}
#showEventForm button {color: black; font-size:.7em;}
.calendar_head {background-color:#000000; color:white}
.calendar_title {font-weight:bold; text-align:center;}
.date {font-family: Verdana; padding-left:7px;}
.weekend{color:#7e7e7e;}
.normal_date {color: #000000;}
.today_event button {background-color: #CACACA; color: #000000;}
.today {background-color: #CACACA; color: #000000;}
.selected_date {background-color: #C00000; color: #FFFFFF;}
.has_event button {background-color: #C6D1DC; color: #000000;}
.hint {color:#7e7e7e}

.successmsg {
  background-color: #BFDFBF;
  margin: 10px 0px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.errormsg {
  background-color: #ff9494;
  margin: 10px 0px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.ui_state_highlight p a {color:#416A93;}
.ui_state_error p a {color:#416A93;}

/* Chat Module */
#chat_list li {list-style: none;}
#chat_list li a {text-decoration: none;}

/* Main Menu */
#menuHeader {
    border:1px solid #b2bbc4;
    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius: 6px;		
    -moz-border-radius-topright:6px;
    -webkit-border-top-right-radius:6px;
    border-top-right-radius: 6px;
    background-color:#f3f4f6;
    background: -moz-linear-gradient(100% 100% 90deg,  #dde0e4, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dde0e4));
    height: 50px;
    position:relative;
} 
#mainMenu {list-style:none; float:left; font-family: 'Cuprum', arial, serif; margin-left:auto; margin-right:auto;}
#mainMenu li {float:left; border-right:1px solid #dcddde;}
#mainMenu a {
    color:#282434;
    display:inline-block;
    margin-top:-50px;
    padding:10px 24px 10px 27px;
    border-right:1px solid #fff;
    font-size:13px;
    font-weight:bold;
}
#mainMenu a.first:hover {
    -moz-border-radius-topleft:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius: 6px;
} 
#mainMenu a:hover {
    background-color:#dde0e4;
    background: -moz-linear-gradient(100% 100% 90deg,  #ffffff, #dde0e4);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dde0e4), to(#ffffff));	    	 
}
#mainMenu a:active {
    background-color:#f3f4f6;
    background: -moz-linear-gradient(100% 100% 90deg,  #dde0e4, #ffffff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#dde0e4));
}
#accountBox {margin-left:24px;}
#accountBox a { color: #416A93; font-size:11px; padding:0px;}